<nav aria-label="Site navigation" class="d-none d-md-block">
  <ul class="nav flex-column sidebar" id="nav_sidebar">
    {% for section in theme.nav_structure %}
    {% if section.header %}
    <li class="nav-header">
        {% if section.header_link %}
        <a href="{{section.header_link}}">
        {% endif %}
            {{section.header}}
        {% if section.header_link %}
        </a>
        {% endif %}
    </li>
    {% endif %}
    {% for item in section.links %}
    <li>
        <a class="nav-link" href="{{item.link}}">
            {% if item.icon %}
            <i class="bi bi-{{item.icon}}" aria-hidden="true"></i>
            {% endif %}
            {{item.text}}
        </a>
    </li>
    {% endfor %}
    {% endfor %}
  </ul>
</nav>

<div class="accordion sidebar d-md-none" id="nav_accordion">
    <div class="card">
        <div class="card-header">
            <button class="btn btn-link text-decoration-none" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="false" aria-controls="collapseOne">
                <i class="bi bi-list" aria-hidden="true"></i> Navigation
            </button>
        </div>
        <div id="collapseOne" class="collapse">
            <ul class="nav flex-column sidebar">
            {% for section in theme.nav_structure %}
            {% if section.header %}
            <li class="nav-header">
                {% if section.header_link %}
                <a href="{{section.header_link}}">
                {% endif %}
                    {{section.header}}
                {% if section.header_link %}
                </a>
                {% endif %}
            </li>
            {% endif %}
            {% for item in section.links %}
            <li>
                <a class="nav-link" href="{{item.link}}">
                    {% if item.icon %}
                    <i class="bi bi-{{item.icon}}" aria-hidden="true"></i>
                    {% endif %}
                    {{item.text}}
                </a>
            </li>
            {% endfor %}
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
