{% if login_result %}
  <div class="nav" role="status" aria-live="polite">{{ login_result }}</div>
{% endif %}

<ul class="logged_in nav hidden ms-auto">
  <li class="nav-item dropdown">
    <a class="nav-link navbar-item-label dropdown-toggle" id="loginbox_user_name"
       data-bs-toggle="dropdown" aria-expanded="false" role="button">
      Hello, <span id="user_first_name"></span>!
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="loginbox_user_name">
      <li><a class="dropdown-item" href="/myesp/accountmanage/">Manage Account</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/myesp/signout">Logout</a>
  </li>
</ul>

<ul class="nav ms-auto not_logged_in">
  <li class="nav-item">
    <form name="loginform" id="loginform" method="post" action="/myesp/login/" class="d-flex gap-1 align-items-center">
      <!-- input type="hidden" name="next" value={-{ request.path }}" / -->
      <label class="visually-hidden" for="user">Username</label>
      <input type="text" name="username" id="user" size="8" value="" placeholder="Username" maxlength="255" class="form-control form-control-sm inputbox" />
      <label class="visually-hidden" for="pass">Password</label>
      <input type="password" name="password" id="pass" size="8" value="" placeholder="Password" maxlength="255" class="form-control form-control-sm inputbox" />
      <button class="btn btn-secondary btn-sm" id="gologin" type="submit"> Login </button>
    </form>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link navbar-item-label dropdown-toggle" data-bs-toggle="dropdown"
       aria-expanded="false" role="button" id="account-menu">
      Account
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="account-menu">
      <li><a class="dropdown-item" href="/myesp/register">Register</a></li>
      <li><a class="dropdown-item" href="/myesp/passwdrecover/">Forgot Password</a></li>
      <li><a class="dropdown-item" href="/myesp/loginhelp.html">Help</a></li>
    </ul>
  </li>
</ul>
