{% for category in theme.nav_structure reversed %}
<ul class="nav navbar-nav">
  <li class="nav-item dropdown{% if request.path|slice:':5' != category.header_link|slice:':5' %} inactive{% else %} active{% endif %}">
    <a href="{{ category.header_link }}" class="nav-link navbar-item-label">
      {{ category.header }}
    </a>
    <a class="nav-link dropdown-toggle dropdown-toggle-split"
       data-bs-toggle="dropdown" aria-expanded="false"
       aria-label="Toggle {{ category.header }} submenu"></a>
    <ul class="dropdown-menu">
      {% for item in category.links %}
      <li><a class="dropdown-item" href="{{ item.link }}">
        {% if item.icon %}
        <i class="bi bi-{{item.icon}}" aria-hidden="true"></i>
        {% endif %}
        {{ item.text }}
      </a></li>
      {% endfor %}
    </ul>
  </li>
</ul>
{% endfor %}
